head{
  height: 200px;
  margin: 0;
  padding: 0;
}

body{
  background-color: #2EFE2E;
}

footer{
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 100px;
}

.btn_e {
	width: 90px;
	height: 57px;
	background: #FFF;
	background: -moz-linear-gradient(top,#000000 0%,#000000);
	background: -webkit-gradient(linear, left top, left bottom, from(#000000), to(#000000));
	border: 1px solid #000000;
	border-radius: 105px;
	-moz-border-radius: 105px;
	-webkit-border-radius: 105px;
	color: #FFF;
	padding: 63px 30px 30px;
	display: block;
	text-align: center;
	font-weight: bold;
	font-size: 200%;
	text-shadow: 0px 0px 5px rgba(0,0,0,1);
	transition: background-color 0.5s ease-in;
	-webkit-transition: background-color 0.5s ease-in;
}
.btn_e:hover {
	background: #000000;
	color: #FFF;
	border: 1px solid #FFF;
}

.btn_d {
	width: 90px;
	height: 57px;
	background: #000;
	background: -moz-linear-gradient(top,#FFFFFF 0%,#FFFFFF);
	background: -webkit-gradient(linear, left top, left bottom, from(#FFFFFF), to(#FFFFFF));
	border: 1px solid #FFFFFF;
	border-radius: 105px;
	-moz-border-radius: 105px;
	-webkit-border-radius: 105px;
	color: #000;
	padding: 63px 30px 30px;
	display: block;
	text-align: center;
	font-weight: bold;
	font-size: 200%;
	text-shadow: 0px 0px 5px rgba(0,0,0,1);
	transition: background-color 0.5s ease-in;
	-webkit-transition: background-color 0.5s ease-in;
}
.btn_d:hover {
	background: #FFFFFF;
	color: #FFF;
	border: 1px solid #000;
}

ul.nav{
  padding: 20px;
}
ul.nav li{
  display: inline-block;
  /*border: 1px solid #D35400;*/
  padding: 10px;
  /*background: #F39C12;*/
  width: 200px;
  text-align: center;
}
ul.nav li a{
  color: #fff;
  text-decoration: none;
}

.raised{
  display: inline-block;
  background-color: #26a69b;
  color: #FFF;
  font-size: 1.5em;
  text-decoration: none;
  letter-spacing: 0.05em;
  padding: 0.6em 1.3em;
  border-radius: 2px;
  cursor: pointer;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);
  -webkit-tap-highlight-color: transparent;
  transition: .3s;
}
.raised:hover{
  box-shadow: 0 3px 3px 0 rgba(0,0,0,0.14), 0 1px 7px 0 rgba(0,0,0,0.12), 0 3px 1px -1px rgba(0,0,0,0.2);
}

.ripple {
  position: relative;
  overflow: hidden;
}

.ripple .rp-effect {/*エフェクト*/
  position: absolute;
  border-radius: 50%;
  opacity: 0.35;/*波紋の濃さ*/
  transform: scale(0);
  background: #FFF;/*波紋色*/
  animation: ripple 700ms;
}

@-webkit-keyframes ripple {
  to {
    opacity: 0;
    transform: scale(2.0);
  }
}

@keyframes ripple {
  to {
    opacity: 0;
    transform: scale(2.0);
  }
}

.lines-on-sides, h2 {
  display: table;
  text-align: center;
  white-space: nowrap;
}
.lines-on-sides:after, h2:after, .lines-on-sides:before, h2:before {
  content: '';
  display: table-cell;
  width: 50%;
  background: -webkit-linear-gradient(transparent 50%, currentColor 50%, currentColor -webkit-calc(50% + 1px), transparent -webkit-calc(50% + 1px));
  background: -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(50%, currentColor), color-stop(currentColor calc(50% + 1px)), to(transparent calc(50% + 1px)));
  background: linear-gradient(transparent 50%, currentColor 50%, currentColor calc(50% + 1px), transparent calc(50% + 1px));
  -webkit-background-clip: padding;
  background-clip: padding;
}
.lines-on-sides:after, h2:after {
  border-left: 1em solid transparent;
}
.lines-on-sides:before, h2:before {
  border-right: 1em solid transparent;
}

h2 {
  font-size: 2.5em;
  color: #550000;
}

h3 {
  font-size: 2.0em;
  color: #330000;
}
